# Manning liveProject Beta-testing START: Time Series Forecasting with Bayesian Modeling Techniques

## 1. Data Manipulation: Forming a Weekly Time Series

In [4]:
import os

import pandas as pd

In [5]:
bookings_file = os.path.join('data', 'H1.csv')
df = pd.read_csv(bookings_file)

In [6]:
df.head()

,IsCanceled,LeadTime,ArrivalDateYear,ArrivalDateMonth,ArrivalDateWeekNumber,ArrivalDateDayOfMonth,StaysInWeekendNights,StaysInWeekNights,Adults,Children,...,DepositType,Agent,Company,DaysInWaitingList,CustomerType,ADR,RequiredCarParkingSpaces,TotalOfSpecialRequests,ReservationStatus,ReservationStatusDate
0,0,342,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,0,737,2015,July,27,1,0,0,2,0,...,No Deposit,NULL,NULL,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,0,7,2015,July,27,1,0,1,1,0,...,No Deposit,NULL,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,0,13,2015,July,27,1,0,1,1,0,...,No Deposit,304,NULL,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,0,14,2015,July,27,1,0,2,2,0,...,No Deposit,240,NULL,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [7]:
df.columns

Index(['IsCanceled', 'LeadTime', 'ArrivalDateYear', 'ArrivalDateMonth',
       'ArrivalDateWeekNumber', 'ArrivalDateDayOfMonth',
       'StaysInWeekendNights', 'StaysInWeekNights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'MarketSegment', 'DistributionChannel',
       'IsRepeatedGuest', 'PreviousCancellations',
       'PreviousBookingsNotCanceled', 'ReservedRoomType', 'AssignedRoomType',
       'BookingChanges', 'DepositType', 'Agent', 'Company',
       'DaysInWaitingList', 'CustomerType', 'ADR', 'RequiredCarParkingSpaces',
       'TotalOfSpecialRequests', 'ReservationStatus', 'ReservationStatusDate'],
      dtype='object')

In [13]:
df.shape

(40060, 32)

In [23]:
# Check for nulls
len(df) - df.count()

IsCanceled                       0
LeadTime                         0
ArrivalDateYear                  0
ArrivalDateMonth                 0
ArrivalDateWeekNumber            0
ArrivalDateDayOfMonth            0
StaysInWeekendNights             0
StaysInWeekNights                0
Adults                           0
Children                         0
Babies                           0
Meal                             0
Country                        464
MarketSegment                    0
DistributionChannel              0
IsRepeatedGuest                  0
PreviousCancellations            0
PreviousBookingsNotCanceled      0
ReservedRoomType                 0
AssignedRoomType                 0
BookingChanges                   0
DepositType                      0
Agent                            0
Company                          0
DaysInWaitingList                0
CustomerType                     0
ADR                              0
RequiredCarParkingSpaces         0
TotalOfSpecialRequests           0
ReservationStatus                0
ReservationStatusDate            0
yr_week                          0
dtype: int64

In [20]:
df['yr_week'] = df['ArrivalDateYear'].astype(str) + df['ArrivalDateWeekNumber'].astype(str)

In [24]:
df['yr_week'].head()

0    201527
1    201527
2    201527
3    201527
4    201527
Name: yr_week, dtype: object

In [28]:
df_week_counts = df.groupby('yr_week')['IsCanceled']\
    .sum()\
    .reset_index()\
    .rename(columns={'yr_week': 'Date (Year and Week Number)'})

In [29]:
df_week_counts

    Date (Year and Week Number)  IsCanceled
0                        201527          41
1                        201528          48
2                        201529          87
3                        201530          74
4                        201531         101
..                          ...         ...
110                       20175          51
111                       20176          91
112                       20177          96
113                       20178         128
114                       20179          77

[115 rows x 2 columns]